In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
url = url = "mysql+pymysql://root:root@localhost:3306/mlops"

In [4]:
engine = create_engine(url)

In [ ]:
sql = """select *
from mlops.credit_score_features_target
"""

In [14]:
with engine.connect() as conn:
	df = pd.read_sql(sql, con=conn.connection)

/tmp/ipykernel_55994/2509610403.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con=conn.connection)

In [15]:

df

           id customer_id        date credit_score
0      100127       23186  2025-06-12         Good
1      100138        6601  2025-05-12     Standard
2      100188       42573  2025-07-30         Poor
3      100234       36210  2025-05-30     Standard
4      100236       36210  2025-07-30     Standard
...       ...         ...         ...          ...
19995   99946       19334  2025-05-03     Standard
19996   99978       20482  2025-01-25         Poor
19997   99982       20482  2025-05-27         Poor
19998   99991       13373  2025-02-27     Standard
19999   99993       13373  2025-04-27     Standard

[20000 rows x 4 columns]